@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;600&family=Lora:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+CA&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');


.wedding-heading {
  font-family: 'Cinzel', serif;
  color: #002c22;
  font-size: 2rem;
  text-align: center;
  margin: 20px 0;
  letter-spacing: 2px;
  margin-bottom: 1.8rem;
  margin-top: 1rem;
}

.line{
  width: 25%;
  border: 2px solid #002c22;
  border-radius: 999px;
  margin-bottom: 2rem;
  align-self: center;
  margin: auto;
  opacity: 0.8;
}

.button {
  background-color: rgba(191, 174, 153, 0.2);
  color: #5e744b;
  border-radius: 40px;
  padding: 14px 28px;
  font-family: 'Cinzel', serif;
  font-size: 1rem;
  border: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease, box-shadow 0.3s ease-in-out;
  margin-bottom: 1rem;
  width: 17rem;
}

button:hover {
  background: #ede7df;
  transform: scale(1.02);
  box-shadow: 0 6px 16px rgba(38, 77, 59, 0.35), 0 0 20px rgba(189, 164, 139, 0.4);
}

label.button {
  background-color: rgba(191, 174, 153, 0.2);
  color: #5e744b;
  border-radius: 40px;
  padding: 14px 28px;
  font-family: 'Cinzel', serif;
  font-size: 1rem;
  border: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: all .25s ease;
  margin-bottom: 1rem;
  width: 17rem;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  
}

label.button:hover {
  filter: brightness(1.04);
  box-shadow: 0 12px 28px rgba(0,0,0,0.12);
}


.carousel-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 760px;
  height: 280px;
  margin: 0.5rem auto 1rem;
  overflow: visible;
}

.content-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
}

.photo {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
  object-fit: contain;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

@media (max-width: 768px) {
  .photo {
    width: 380px;
    height: 280px;
  }
}

.cudlikyQuiz{
  display: flex;
  align-items: center;
  justify-content: center;
}

.cudlik {
  background-color: rgba(191, 174, 153, 0.2);
  color: #5e744b;
  border-radius: 40px;
  font-family: 'Cinzel', serif;
  font-size: 0.9rem;
  border: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease, box-shadow 0.3s ease-in-out;
  margin-bottom: 1rem;
  width: 6rem;
}

.text{
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Cinzel', serif;
}